@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


html{
    scroll-behavior: smooth;
}

body {
    background-color: #202020;
    color: #DEDEDE;
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: -0.01em;

}

a {
    transition: opacity 0.3s;
}

a:hover {
    opacity: 0.8;
}

img {
    max-width: 100%;
}
.scrol{
    background-color: rgba(65, 65, 65, 0.411);
    transform: rotate(180deg);
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    position: fixed;
    bottom: 5%;
    right: 5%;
}

/* ---------------HEADER-------------- */
.header {
    background: #323232b3;
    backdrop-filter: blur(10px);
    padding: 20px 0px;
}

.header .header__link {
    letter-spacing: -0.03em;

}

.header .contener {
    max-width: 1248px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contener {
    margin: 0px auto;
    max-width: 1250px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 800;
}

.header__nav {
    display: flex;
    gap: 60px;
}

.menu-icon {
    display: none;
}

.header__link {
    font-weight: 700;
    font-size: 18px;
}

/* ---------------Бургер меню-------------- */
.menu-icon {
    display: none;
}

/* ---------------MAIN__1-------------- */
.welcome {
    padding-top: 129px;
}

.welcome .contener {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.welcome__text {
    display: inline-block;
}

.welcome__h1 {
    width: 500px;
    font-weight: 700;
    font-size: 54px;
    line-height: 1.19;
    letter-spacing: -0.5px;
    margin-bottom: 24px;
}

.welcome__p {
    width: 395px;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.5px;
    color: #959595;
}

.welcome__link {
    display: inline-block;
    margin-top: 88px;
    padding: 16px 48px;
    border-radius: 4px;
    background-color: #9D9D9D;
}

.welcome__img {
    margin-right: 16px;
}

.avatar {
    display: inline-block;
    width: 400px;
    height: 400px;
    border-radius: 100%;
}

/* ---------------MAIN__2-------------- */
.works {
    padding-top: 145px;
}

.contener {}

.works__link {
    display: inline-flex;
    align-items: center;
    padding: 16px 8px;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 80px;
}

.works__pass {
    margin-right: 32px;
}

.works__examples {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    padding-top: 140px;
}

.work {
    height: 888px;
    position: relative;
}

.work:nth-child(odd) {
    margin-top: -140px;
}

.works__img {
    border-radius: 4px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.works__name {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    font-weight: 700;
    font-size: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0000009d;

    transition: opacity 0.3s;
}

.works__name:hover {
    opacity: 1;
}

/* ---------------MAIN__3-------------- */

.projects {
    padding-top: 240px;
}

.contener {}

.products__p {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin-bottom: 65px;
}

.Explorations {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}

.Explorations__link {
    height: 408px;
}

.Explorations__img {
    border-radius: 4px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ---------------MAIN__4-------------- */
.contener {}

.project {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}

.projects__link {
    height: 560px;
}

.projects__img {
    border-radius: 4px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ---------------MAIN__5-------------- */


.contener {}

.contact__p {
    max-width: 521px;
    margin: 0px auto;
    font-size: 26px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #959595;
    margin-bottom: 48px;
}

.contact__mail {
    display: flex;
    justify-content: center;
}

.contact .welcome__link {
    margin-top: 0px;
}

/* ---------------footer-------------- */
.footer {
    padding-top: 125px;
}

.footer__hr {
    width: 100%;
    height: 1px;
    background: #696969;
}

.footer .contener {
    display: flex;
    justify-content: space-between;
    padding: 48px 0px 36px 0px;

}

.name {
    color: #ECECEC;
}

.footer__p {
    display: inline-block;
    font-size: 16px;
    color: #959595;
}

.footer__social {
    display: inline-block;
}

.footer__img {
    margin: 0px 43px;
}

.footer__img:first-child {
    margin-left: 0px;
}

.footer__img:last-child {
    margin-right: 0px;
}

/* -----------Адаптив-------------*/
@media (max-width: 1300px) {
    .contener {
        margin: 0px auto;
        max-width: 1050px;
    }

    .header .contener {
        max-width: 1024px;
    }
}
@media (max-width: 1060px) {
    .contener {
        margin: 0px auto;
        max-width: 800px;
    }

    .header .contener {
        max-width: 900px;
    }

    .footer__img {
        margin: 0px 30px;
    }

    .footer__img:first-child {
        margin-left: 0px;
    }

    .footer__img:last-child {
        margin-right: 0px;
    }

    .work {
        height: 630px;
    }

    .avatar {
        width: 300px;
        height: 300px;
    }

    .Explorations__link {
        height: 308px;
    }

    .projects {
        padding-top: 160px;
    }

    .projects__link {
        height: 460px;
    }
}
@media (max-width: 900px) {
        .contener {
        margin: 0px auto;
        max-width: 600px;
    }

    .header .contener {
        max-width: 600px;
    }
        .welcome__h1 {
        width: 300px;
        font-size: 30px;

    }

    .welcome__p {
        width: 295px;
        font-size: 15px;
    }
    .avatar {
        width: 290px;
        height: 290px;
    }
    .welcome__link {
        font-size: 15px;
        padding: 12px 30px;
    }
        .footer .contener {
        display: grid;
        grid-template-columns: 1fr;
        gap: 25px;
        text-align: center;
        padding-top: 25px;
    }

    .footer__social {
        order: -1;
    }
}
@media (max-width: 800px) {
        .contener {
        margin: 0px auto;
        max-width: 600px;
    }

    .header .contener {
        max-width: 600px;
    }
        .welcome__h1 {
        width: 300px;
        font-size: 30px;

    }

    .welcome__p {
        width: 295px;
        font-size: 15px;
    }
    .avatar {
        width: 290px;
        height: 290px;
    }
    .welcome__link {
        font-size: 15px;
        padding: 12px 30px;
    }
        .footer .contener {
        display: grid;
        grid-template-columns: 1fr;
        gap: 25px;
        text-align: center;
        padding-top: 25px;
    }

    .footer__social {
        order: -1;
    }
}
@media (max-width: 768px) {
    .works {
        padding-top: 80px;
    }

    .footer__img {
        margin: 0px 15px;
    }
    .avatar {
        width: 250px;
        height: 250px;
    }

    .work {
        height: 530px;
    }

    .Explorations__link {
        height: 208px;
    }

    .projects {
        padding-top: 120px;
    }

    .projects__link {
        height: 360px;
    }

    .products__p {
        font-size: 26px;
        margin-bottom: 30px;
    }

    .works__examples {
        padding-top: 60px;
    }

    .work:nth-child(odd) {
        margin-top: -60px;
    }

    .contact {
        padding-top: 120px;
    }

    .contact__p {
        max-width: 300px;
        font-size: 16px;
    }

    .projects {
        padding-top: 60px;
    }
}
@media (max-width: 600px) {
    .contener {
        margin: 0px auto;
        max-width: 500px;
    }

    .header .contener {
        max-width: 550px;
    }
    .avatar{
        width: 200px;
        height: 200px;
    }
        .welcome__h1 {
        max-width: 400px;
    }

    .welcome__p {
        max-width: 400px;
    }
    .welcome__link {
        margin-top: 55px;
    }
    .footer{
        padding-top: 60px;
    }
}
@media (max-width: 425px) {
    .header__nav {
        display: none;
    }

    .contener {
        margin: 0px auto;
        max-width: 366px;
    }

    .header .contener {
        max-width: 366px;
    }

    .welcome {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding-top: 72px;
    }

    .welcome .contener {
        display: grid;
        grid-template-columns: 1fr;
        gap: 25px;
    }

    .div-avatar {
        order: -1;
    }

    .avatar {
        height: 240px;
        width: 240px;
    }

    .welcome__h1 {
        max-width: 366px;
    }

    .welcome__p {
        max-width: 366px;
    }

    .welcome__link {
        margin-top: 48px;
    }

    .works__link {
        margin-bottom: 0px;
    }

    .work:nth-child(odd) {
        margin-top: 0px;
    }

    .works__examples {
        display: grid;
        grid-template-columns: 1fr;
        gap: 25px;
        padding-top: 39px;
    }

    .work {
        height: 600px;
    }

    .Explorations {
        display: grid;
        grid-template-columns: 1fr;
        gap: 25px;
    }

    .projects {
        padding-top: 116px;
    }

    .Explorations__link {
        height: 366px;
    }

    .projects .contener .main_4 {
        padding-top: 200px;
    }

    .project {
        display: grid;
        grid-template-columns: 1fr;
        gap: 25px;
    }

    .projects__link {
        height: 600px;
    }

    .projects .contener .main_5 {
        padding-top: 200px;
    }

    .products__p {
        font-size: 28px;
    }

    .contact__p {
        font-size: 18px;
    }

    /* ---------------Бургер меню-------------- */
    .menu-icon {
        display: block;
        background-color: transparent;
        padding: 0;
        border: none;

        position: absolute;
        top: 29px;
        right: 15px;
    }

    .menu-icon__img {
        height: 24px;
        width: 30px;
        object-fit: contain;
        object-position: center;
    }

    .header.header--mobile .header__nav {
        display: flex;
        /* flex-direction: column; */
        /* gap: 20px; */
        align-self: center;
        flex-wrap: wrap;
        gap: 20px 30px;
        justify-content: center;
    }

    .header.header--mobile .contener {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
}
@media (max-width: 360px) {
        .contener {
        margin: 0px auto;
        max-width: 300px;
    }

    .header .contener {
        max-width: 300px;
    }
}